<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <h1>Clientes</h1>

            <a href="/clientes/novo" class="btn btn-primary">Novo</a>

            <table class="table" id="tabelaclientes">
                <thead>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Data Nascimento</th>
                    <th>Cidade</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="umCliente : ${listaClientes}">
                        <td th:text="${umCliente.nome}"></td>
                        <td th:text="${umCliente.endereco}"></td>
                        <td th:text="${umCliente.dataNascimento}"></td>
                        <td th:text="${umCliente.cidade?.nome}"></td>
                        <td>
                            <a th:href="@{'/clientes/alterar/' + ${umCliente.id}}"
                                class="btn btn-warning"
                            >Alterar</a>

                            <button
                                class="btn btn-danger js-delete"
                                th:data-id="${umCliente.id}"
                            >Excluir</button>


                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        


        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/scriptcliente.js}"></script>
    </body>
</html>


<div class="modal" tabindex="-1" id="modalcliente">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Confirma a exclusão do cliente?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
        </div>
      </div>
    </div>
  </div>