<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <h1>Clientes</h1>

            <a href="/clientes/novo" class="btn btn-primary">Novo</a>

            <table class="table">
                <thead>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Data Nascimento</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="umCliente : ${listaClientes}">
                        <td th:text="${umCliente.nome}"></td>
                        <td th:text="${umCliente.endereco}"></td>
                        <td th:text="${umCliente.dataNascimento}"></td>
                        <td>
                            <a th:href="@{'/clientes/alterar/' + ${umCliente.id}}"
                                class="btn btn-warning"
                            >Alterar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        


        <div th:include="layout :: footer">(footer)</div>
    </body>
</html>